div{
    font-size: 14px;
}
p{
    font-size: 14px;
}

.logo a{
    color: white;
    font-size: 30px;
}
.logo a:hover{
    color: white;
}
.header{
    display: flex;
    padding: 10px 0px;
}
.link-header{
    margin-left:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.link-header a{
    color: white;
    font-size: 20px;
}
.link-header a:hover{
    color: white;
    text-decoration: underline;
}
.error{
    color: red;
    font-size: 12px;
}
.image-container-header img{
    width:40px;
    height:40px;
    border-radius: 60px;
}